### Introduction: Project Goal
    
The goal of this project is to visualize and find insights from the World Glacier Inventory dataset.

### Background

### Data and Methodology
This dataset contains the name, location, and other descriptors for over 130k glaciers in the world and the dataset is located here: https://www.kaggle.com/datasets/nsidcorg/glacier-inventory

In [5]:
import pandas as pd
import numpy as np

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

%matplotlib inline 

import matplotlib as mpl
import matplotlib.pyplot as plt

In [6]:
df = pd.read_csv("C:/Users/yzhou/Desktop/World Glacier Inventory Data/database.csv") 
df.head()

C:\Users\yzhou\AppData\Local\Temp\ipykernel_10180\1547643462.py:1: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("C:/Users/yzhou/Desktop/World Glacier Inventory Data/database.csv")

,Glacier ID,Political Unit,Continent,Basin Code,Location Code,Glacier Code,Glacier Name,Latitude,Longitude,Primary Class,...,Maximum Length,Maximum Length Exposed,Maximum Length Ablation,Mean Depth,Depth Accuracy,Accumulation Orientation,Ablation Orientation,Topographic Map Year,Topographic Map Scale,Photograph Year
0,AF5Q112B0001,AFGHANISTAN,ASIA,Q112,B0,1,NaN,34.672,68.874,9.0,...,1.9,NaN,NaN,NaN,NaN,NE,NE,1959.0,100000.0,NaN
1,AF5Q112B0002,AFGHANISTAN,ASIA,Q112,B0,2,NaN,34.676,68.855,9.0,...,0.8,NaN,NaN,NaN,NaN,NW,NW,1959.0,100000.0,NaN
2,AF5Q112B0003,AFGHANISTAN,ASIA,Q112,B0,3,NaN,34.689,68.854,9.0,...,1.5,NaN,NaN,NaN,NaN,NW,NW,1959.0,100000.0,NaN
3,AF5Q112B0004,AFGHANISTAN,ASIA,Q112,B0,4,NaN,34.707,68.857,9.0,...,1.5,NaN,NaN,NaN,NaN,NE,NE,1959.0,100000.0,NaN
4,AF5Q112B0005,AFGHANISTAN,ASIA,Q112,B0,5,NaN,34.719,68.852,9.0,...,2.0,NaN,NaN,NaN,NaN,NaN,NaN,1959.0,100000.0,NaN

In [7]:
print(df.shape)
df.info()

(132890, 39)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132890 entries, 0 to 132889
Data columns (total 39 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Glacier ID                   132890 non-null  object
 1   Political Unit               132890 non-null  object
 2   Continent                    132890 non-null  object
 3   Basin Code                   132890 non-null  object
 4   Location Code                132890 non-null  object
 5   Glacier Code                 132890 non-null  object
 6   Glacier Name                 46751 non-null   object
 7   Latitude                     132890 non-null  float64
 8   Longitude                    132890 non-null  float64
 9   Primary Class                131406 non-null  float64
 10  Glacier Source               132746 non-null  float64
 11  Basin Count                  15558 non-null   float64
 12  Glacier Form                 131813 non-null  float64
 13  Glacier Activity             132775 non-null  float64
 14  Activity Start               4202 non-null    float64
 15  Activity End                 143 non-null     float64
 16  Minimum Elevation            117162 non-null  float64
 17  Minimum Elevation Exposed    89697 non-null   float64
 18  Mean Elevation               81599 non-null   float64
 19  Mean Elevation Accumulation  15473 non-null   float64
 20  Mean Elevation Ablation      11053 non-null   float64
 21  Maximum Elevation            115468 non-null  float64
 22  Snow Line Elevation          28848 non-null   float64
 23  Snow Line Accuracy           23324 non-null   float64
 24  Glacier Area                 128374 non-null  float64
 25  Area Accuracy                84440 non-null   float64
 26  Area Exposed                 90737 non-null   float64
 27  Mean Width                   69966 non-null   float64
 28  Mean Length                  55258 non-null   float64
 29  Maximum Length               102593 non-null  float64
 30  Maximum Length Exposed       84621 non-null   float64
 31  Maximum Length Ablation      17051 non-null   float64
 32  Mean Depth                   70071 non-null   float64
 33  Depth Accuracy               78685 non-null   float64
 34  Accumulation Orientation     114432 non-null  object
 35  Ablation Orientation         116534 non-null  object
 36  Topographic Map Year         83697 non-null   float64
 37  Topographic Map Scale        74586 non-null   float64
 38  Photograph Year              82464 non-null   float64
dtypes: float64(30), object(9)
memory usage: 39.5+ MB